GARAGE_DB_URL=jdbc:postgresql://localhost:5432/garage_management
GARAGE_DB_USERNAME=postgres
GARAGE_DB_PASSWORD=soundhiriya
GARAGE_JWT_SECRET=change-this-to-a-very-long-random-secret-at-least-32-bytes
GARAGE_ACCESS_TOKEN_MINUTES=15
GARAGE_REFRESH_TOKEN_DAYS=14
GARAGE_ADMIN_EMAIL=admin@garage.com
GARAGE_ADMIN_MOBILE=9876543210
GARAGE_ADMIN_PASSWORD=ChangeMe123!
GARAGE_MANAGER_EMAIL=manager@garage.com
GARAGE_MANAGER_MOBILE=9876543211
GARAGE_MANAGER_PASSWORD=ChangeMe123!
GARAGE_TECHNICIAN_EMAIL=technician@garage.com
GARAGE_TECHNICIAN_MOBILE=9876543212
GARAGE_TECHNICIAN_PASSWORD=ChangeMe123!
FRONTEND_ORIGIN=http://localhost:3000
